body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    padding: 20px;
}

h2 {
    text-align: center;
}

.card-incidencia {
    background: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.card-incidencia button {
    background: #ff5b00;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.card-incidencia button:hover {
    background-color: #a63b01;
}

.btn-cerrar-sesion {
    margin-top: 20px;
    padding: 12px;
    background-color: #ff5b00;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.25s ease;
}

.btn-cerrar-sesion:hover {
    background-color: #a63b01;
}

.mensaje-flotante {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: #222;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 15px;
    z-index: 9999;
    opacity: 0.95;
    transition: all 0.3s ease;
}

.mensaje-flotante.success {
    background-color: #2ecc71;
}

.mensaje-flotante.error {
    background-color: #e74c3c;
}

/* Fondo que cubre toda la pantalla y se queda detr치s del contenido */
.background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -1;
    /* Degradado suave para que el fondo no se vea plano */
    background: linear-gradient(120deg, #f7f7f7, #e7f0ff);

}

.bubble {
    /* Las burbujas inician desde abajo */
    position: absolute;
    bottom: -100px;
    /* Color blanco con transparencia */
    background-color: rgba(255, 91, 0, 0.15);
    /* las hace circulares */
    border-radius: 50%;
    /* Activamos la animaci칩n que las hace subir */
    animation: rise 20s infinite ease-in;
}

/* Animaci칩n que hace que las burbujas suban y desaparezcan */
@keyframes rise {
    0% {
        transform: translateY(0) scale(1);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        /* para que suban un poco m치s del alto visible */
        transform: translateY(-110vh) scale(1.2);
        /* para que se desvanezcan al final */
        opacity: 0;
    }
}